.container {
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	min-height: 100vh;
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1.4rem;
	margin-top: 1.2rem;
}

.wrapper p {
	font-size: 1.2rem;
}

.button {
	padding: 0.8rem 2rem;
	background: #5a6ad0;
	font-size: 1.4rem;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}

.button:hover {
	background: #3749c0;
	transition: all 0.5s ease;
}

.session {
	display: flex;
	flex-direction: column;
	margin-top: 1.6rem;
}

.session span {
	font-size: 1.4rem;
}

.session button {
	margin-top: 1.4rem;
}
